@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

$textcolor : Pink;

@function mint(
    $color, $darkish 
    ) {
        @return mix(white, $color, $darkish);
}

body {
    background-image: url('../images/main.gif');
    background-color: $textcolor;
}

header {
    background-image: url('/static/images/main.gif');
    display: flex;
    justify-content: center;
}

h1 {
    background-color: $textcolor;
    justify-content: center;
}